.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1290px;
  border-bottom: 1px solid var(--grey-secondary);
  box-sizing: border-box;
  margin: 0;
  padding: 20px 0;

  &__link {
    color: inherit;
    text-decoration: inherit;
  }
}
