.options {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  background: var(--brown-primary);
  border-radius: 7px;
  box-sizing: border-box;
  margin: 0;
  padding: 5px;

  &__items {
    display: flex;
    gap: 5px;
    font: var(--font-xxxs-bold);
    color: var(--dark-secondary);
    letter-spacing: 0.5px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 6px;
    background: transparent;
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
    transition: 0.2s;
    cursor: pointer;
  }

  &__item:hover {
    box-shadow: 0 0 5px var(--grey-thirdary);
  }

  &__active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--light-primary);
    border-radius: 6px;
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
  }
}
